<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @goal.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @goal.content %>
</p>

<p>
  <strong>Steps:</strong>
  <% @goal.steps.each do |step| %>
    <%= step.rank %>: <%= step.name %>
  <% end %>
</p>


<%= link_to 'Add Steps', new_goal_step_path(@goal) %> |
<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
